h1 {
    text-align: center;
    color: #0170FF;
}

iframe {
    text-align: center;
}

body {
  background-color: blue;
}

nav {
  background-color: black;
}

a {
    color: #FF0101;
}

h2 {
    font-family: Times;
    font-weight: bolder;
}

.content {
    padding: 20px;
    margin: 10px;
    font-style: italic;
    background-color: #424EDC;
    color: #FFFFFF;
}

.footer {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #424EDC;
    color: #FFFFFF;
}
